<?xml version="1.0" encoding= "UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springboot.dao.UserDaoInt">	
	<select
		id="findUsers"
		resultType="hashmap"> <!-- resultType: User/ hashmap/.... -->
		select *
		from users u, users_profiles u_p, profiles p
		where u_p.user_profile_id = p.id;
	</select>
	
	<insert 
			id="saveUserU" 
			useGeneratedKeys="true" 
			keyProperty="id">
	insert into users (ssoId, password, firstName, lastName, email, age, country, date_inscription, latitude, longitude, state)
	values (#{ssoId},#{password}, #{firstName}, #{lastName}, #{email}, #{age}, #{country}, now(), #{latitude}, #{longitude}, #{state})
	</insert>
	
	
<!-- 	<insert id="inserrerUtilisateur"  -->
<!-- 			useGeneratedKeys="true"  -->
<!-- 			keyProperty="id" -->
<!-- 			parameterType="com.springboot.model.Utilisateur"> -->
<!-- 	insert into utilisateur (nom, prenom, email, login, mdp) -->
<!-- 	values (#{nom}, #{prenom}, #{email}, #{login}, #{mdp}) -->
<!-- 	</insert> -->
	
<!-- 	<update id="modifierUtilisateur" -->
<!-- 			parameterType="com.springboot.model.Utilisateur"> -->
<!-- 	update utilisateur set -->
<!-- 		nom 	= #{nom}, -->
<!-- 		prenom 	= #{prenom}, -->
<!-- 		email 	= #{email}, -->
<!-- 		login 	= #{login} -->
<!-- 	where id  	= #{id} -->
<!-- 	</update> -->
	
<!-- 	<delete id="supprimerUtilisateur" -->
<!-- 			parameterType="com.springboot.model.Utilisateur"> -->
<!-- 	delete from utilisateur -->
<!-- 	where id = #{id} -->
<!-- 	</delete> -->
	
	
<!-- 	<select id="recupererUtilisateur" -->
<!-- 			resultType="com.springboot.model.Utilisateur"> -->
<!-- 			select *  -->
<!-- 			from utilisateur -->
<!-- 			where id=#{id} -->
<!-- 	</select> -->

</mapper>